/* line 31, ../sass/sudweb.scss */
html {
  font-size: 62.5%;
  margin: 0;
  background: white url(../img/bg.png) repeat center top;
  color: #312529;
  font-family: arial, sans-serif;
}

/* line 39, ../sass/sudweb.scss */
body {
  max-width: 960px;
  margin: 0 auto;
  font-size: 16px;
  font-size: 1.6rem;
  position: relative;
}

/* line 47, ../sass/sudweb.scss */
h1, h2, h3, p, ul, ol, li {
  font-weight: normal;
  line-height: 1.25;
  word-spacing: .12em;
}

/* line 52, ../sass/sudweb.scss */
p:first-of-type {
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 57, ../sass/sudweb.scss */
h1 {
  font-size: 22px;
  font-size: 2.2rem;
  margin: 0 0 .5em;
}

/* line 62, ../sass/sudweb.scss */
h2 {
  font-size: 20px;
  font-size: 2rem;
}

/* line 66, ../sass/sudweb.scss */
h3 {
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 71, ../sass/sudweb.scss */
ul,
ol {
  margin: 0 0 1em 1em;
}

/* line 76, ../sass/sudweb.scss */
a:link,
a:visited {
  text-decoration: none;
}

/* line 80, ../sass/sudweb.scss */
a:focus,
a:hover {
  text-decoration: underline;
}

/* line 84, ../sass/sudweb.scss */
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

/* line 92, ../sass/sudweb.scss */
.skiplink {
  display: inline-block;
}

/* line 95, ../sass/sudweb.scss */
.button {
  background: #10b6bf;
  color: #feffff;
  display: inline-block;
  margin: 0 0 0 35%;
  padding: .2em 1em;
  position: relative;
  min-height: 20px;
  -webkit-filter: drop-shadow(0 0.2em 0.3em rgba(49, 37, 41, 0.2));
  -moz-filter: drop-shadow(0 0.2em 0.3em rgba(49, 37, 41, 0.2));
  -ms-filter: drop-shadow(0 0.2em 0.3em rgba(49, 37, 41, 0.2));
  -o-filter: drop-shadow(0 0.2em 0.3em rgba(49, 37, 41, 0.2));
  filter: drop-shadow(0 0.2em 0.3em rgba(49, 37, 41, 0.2));
}
/* line 107, ../sass/sudweb.scss */
.button:before, .button:after {
  content: "";
  width: 0;
  top: 0;
  position: absolute;
  display: block;
  border: 13px solid #10b6bf;
}
/* line 115, ../sass/sudweb.scss */
.button:before {
  left: -1em;
  border-right-width: .5em;
  border-left-color: transparent !important;
}
/* line 120, ../sass/sudweb.scss */
.button:after {
  right: -1.5em;
  border-left-width: .75em;
  border-color: transparent transparent transparent #10b6bf;
}

/* line 127, ../sass/sudweb.scss */
.pageheader {
  text-align: center;
}
/* line 129, ../sass/sudweb.scss */
.pageheader .skiplink {
  position: absolute;
  top: 0;
  right: 2em;
  color: #312529;
  background: white;
  padding: .2em .5em;
  box-shadow: 0.05em 0.2em 0.3em rgba(49, 37, 41, 0.5);
}
/* line 140, ../sass/sudweb.scss */
.pageheader .ville,
.pageheader .lieu,
.pageheader .date {
  display: block;
}

/* line 145, ../sass/sudweb.scss */
.introduction {
  background: white;
  padding: 0 1em 2em;
  margin: 0 1em;
  box-shadow: 0 0 0.5em rgba(49, 37, 41, 0.1);
}

/* line 156, ../sass/sudweb.scss */
.actualite,
.programme,
.salles,
.sponsors,
.pagefooter {
  padding: .5em 1em 1em;
}

/* line 160, ../sass/sudweb.scss */
.banner {
  background: #f64b3a;
  background: rgba(246, 75, 58, 0.2), url(../img/bg.png);
  color: #fef8f7;
  margin: 0 -2em;
  padding: .5em 2em .25em;
  text-align: center;
  position: relative;
  box-shadow: 0 0.35em 0.5em rgba(49, 37, 41, 0.8);
}
/* line 170, ../sass/sudweb.scss */
.banner .title {
  display: block;
  text-transform: uppercase;
  line-height: 1.5;
}
/* line 175, ../sass/sudweb.scss */
.banner .subtitle {
  display: block;
}
/* line 179, ../sass/sudweb.scss */
.banner:before, .banner:after {
  content: "";
  bottom: -2em;
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #c11909 transparent transparent transparent;
  z-index: -1;
}
/* line 188, ../sass/sudweb.scss */
.banner:before {
  left: 0;
  border-width: 2em 0 0 2em;
}
/* line 192, ../sass/sudweb.scss */
.banner:after {
  right: 0;
  border-width: 2em 2em 0 0;
}
/* line 196, ../sass/sudweb.scss */
.banner + img {
  width: 100%;
  height: auto;
}

/* line 202, ../sass/sudweb.scss */
.programme h2 {
  color: #f64b3a;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-size: 2.4rem;
  position: relative;
}
/* line 210, ../sass/sudweb.scss */
.programme h2:before, .programme h2:after {
  content: "";
  display: block;
  height: 1px;
  width: 25%;
  border-top: 1px solid;
  position: absolute;
  top: .62em;
  right: 75%;
}
/* line 220, ../sass/sudweb.scss */
.programme h2:after {
  right: auto;
  left: 75%;
}

/* line 228, ../sass/sudweb.scss */
.actualite h2,
.programme h3,
.sponsors h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-size: 2rem;
  font-weight: normal;
  background: #f64b3a;
  color: #fef8f7;
  position: relative;
  margin: 2em 1em 1em;
  padding: .5rem 0 .45rem;
  min-height: 25px;
}
/* line 242, ../sass/sudweb.scss */
.actualite h2:before, .actualite h2:after,
.programme h3:before,
.programme h3:after,
.sponsors h2:before,
.sponsors h2:after {
  content: "";
  width: .2em;
  top: 0;
  position: absolute;
  display: block;
  border: 17px solid #f64b3a;
  z-index: -1;
}
/* line 251, ../sass/sudweb.scss */
.actualite h2:before,
.programme h3:before,
.sponsors h2:before {
  left: -1em;
  border-right-width: .75em;
  border-left-color: transparent !important;
}
/* line 256, ../sass/sudweb.scss */
.actualite h2:after,
.programme h3:after,
.sponsors h2:after {
  right: -1em;
  border-left-width: .75em;
  border-right-color: transparent !important;
}

/* line 262, ../sass/sudweb.scss */
.actualite h2 {
  background: #c51b3f;
  color: #fcf1f2;
}
/* line 267, ../sass/sudweb.scss */
.actualite h2:before, .actualite h2:after {
  border-color: #c51b3f;
}

/* line 271, ../sass/sudweb.scss */
.sponsors h2 {
  background: #402f35;
  color: #f4f2f3;
}
/* line 276, ../sass/sudweb.scss */
.sponsors h2:before, .sponsors h2:after {
  border-color: #402f35;
}

/* line 280, ../sass/sudweb.scss */
.sponsors h3 {
  color: #c0babd;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}
/* line 287, ../sass/sudweb.scss */
.sponsors h3:before, .sponsors h3:after {
  content: "";
  display: block;
  height: 5px;
  width: 25%;
  border-top: 1px solid;
  border-bottom: 1px dotted;
  position: absolute;
  top: .62em;
  right: 75%;
}
/* line 298, ../sass/sudweb.scss */
.sponsors h3:after {
  right: auto;
  left: 75%;
}

/* line 307, ../sass/sudweb.scss */
.sponsors ul,
.sponsors li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 312, ../sass/sudweb.scss */
.sponsors a {
  color: #10b6bf;
}

/* line 317, ../sass/sudweb.scss */
.salles {
  background: #c51b3f;
  color: #fcf1f2;
}

/* line 321, ../sass/sudweb.scss */
.to-top {
  color: #10b6bf;
  display: inline-block;
  margin: 1em;
  padding-left: 20px;
  background: url(../img/to-top.png) no-repeat left top;
}

/* line 328, ../sass/sudweb.scss */
.pagefooter {
  clear: both;
  background: #402f35;
  color: #f4f2f3;
}
/* line 334, ../sass/sudweb.scss */
.pagefooter a:link,
.pagefooter a:visited {
  color: #f4f2f3;
}
/* line 340, ../sass/sudweb.scss */
.pagefooter a:focus,
.pagefooter a:hover,
.pagefooter p a:link,
.pagefooter p a:visited {
  color: #10b6bf;
}
/* line 343, ../sass/sudweb.scss */
.pagefooter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 348, ../sass/sudweb.scss */
.pagefooter .nav {
  background: #402f35;
  margin: 0 -1em;
  text-transform: uppercase;
}
/* line 352, ../sass/sudweb.scss */
.pagefooter .nav a {
  display: block;
  margin-top: .25em;
  padding: .5em 1em .75em;
  border-bottom: 1px solid #5c4a50;
}
/* line 361, ../sass/sudweb.scss */
.pagefooter .connect li,
.pagefooter .connect img {
  display: inline;
}
/* line 364, ../sass/sudweb.scss */
.pagefooter .connect a {
  margin: 0 1em;
}
/* line 366, ../sass/sudweb.scss */
.pagefooter .connect a img {
  display: inline-block;
}
/* line 371, ../sass/sudweb.scss */
.pagefooter .connect a:focus img, .pagefooter .connect a:hover img {
  background: #f4f2f3;
}
/* line 377, ../sass/sudweb.scss */
.pagefooter .legal li {
  display: inline;
  margin-right: .5em;
}
/* line 380, ../sass/sudweb.scss */
.pagefooter .legal li:not(:last-child):after {
  content: "|";
  margin-left: .5em;
}

/* line 388, ../sass/sudweb.scss */
#main-nav:target {
  position: absolute;
  top: 0;
  left: 1em;
  right: 1em;
}
