$body: #fff;
$text: #312529;
$primary: #f64b3a;
$text-over-primary: #fef8f7;
$secondary: #c51b3f;
$text-over-secondary: #fcf1f2;
$contrast: #10b6bf;
$text-over-contrast: #feffff;
$inverted: #402f35;
$text-over-inverted: #f4f2f3;
$dark: #3f2f34;
$text-over-dark: #f7f6f7;
$bright: #ffa802;

$narrow: 32em;
$medium: 45em;
$widest: 60em;