@import "app.scss";



/*********************  MIXINS *************/

@mixin font-size($sizeValue: 1.6){
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}


@mixin box-shadow($params) {
   -webkit-box-shadow: $params;
   -moz-box-shadow: $params;
   box-shadow: $params;
}
/*********************  COMMON *************/

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	@include font-size(1.6);
}


h1, h2, h3, p, ul, ol, li {
	font-weight: normal;
	line-height: normal;
}


h1 {
	@include font-size(2.7);
}


h2 {
	@include font-size(2.2);
}

h3 {
	@include font-size(1.8);
}

p {
	line-height: 24px;
}

/*********************  PAGES *************/

header {
	img{
		display: inline;
	}
	figure {
		margin-bottom:20px;
		div {
			text-align: center;
		}
	}
}

section h2, aside h2 {
	margin-top: 16px;
}

.introduction .columns, .elaboratoire .columns, .lieu .columns{
	background: none repeat scroll 0 0 #e0e0e0;
}

ol.conferences, ol.ateliers{
	list-style-type: none;
	margin: 0;
	h3 {
		margin-top: 18px;
	}
	
	.description-conference {
		border-bottom: 1px solid #3F3F3F;
		overflow: hidden;
		.orateur {
			color: #F8B319;
		}
	}

	li:last-child {
		.description-conference{
			border: none;
		}
	} 
}

.divertissement h3 {
	color: #6F6F6F;
}


.lieu {
	figure {
		margin: 1em 0;
		img {
			float: left;
			margin: 0 40px 20px 0;
		}
	}

	ul{
		margin-left: 16px;
	}
}

.informations {
	background: none repeat scroll 0 0 #F8F8F8;
}

.partenaires {
	ul, li {
		list-style-type: none;
		text-align: center;
	}
	img {
		display: inline;
	}
}

footer {
	background-color: #402F33;
	@include box-shadow(0px 2px 5px #000 inset);
    color: #FFFFFF;
    padding-bottom: 0;
    padding-top: 2em;
}
