@import "app.scss";



/*********************  MIXINS *************/

@mixin font-size($sizeValue: 1.6){
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

/*********************  COMMON *************/

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	@include font-size(1.6);
}


h1, h2, h3, p, ul, ol, li {
	font-weight: normal;
	line-height: normal;
}


h1 {
	@include font-size(2.7);
}


h2 {
	@include font-size(2.2);
}

h3 {
	@include font-size(1.9);
}

p {
	line-height: 24px;
}

/*********************  PAGES *************/

#header {
	img{
		display: inline;
	}
	figure {
		margin-bottom:20px;
		div {
			text-align: center;
		}
	}
}



section h2 {
	margin-top: 16px;
}

.introduction .columns{
	background: none repeat scroll 0 0 #F4F4F4;
}

ol.conferences {
	list-style-type: none;
	margin-left: 0;
	.description-conference {
		overflow: hidden;
	}
}




